.transcHis{
    width:100%;
    margin:auto;
    background:white;
    padding: 8px;
    border-right: 4px solid steelblue;
    box-shadow: 3px 3px 3px 2px  #aaaaaa;
}
.transcHis .cash{
    margin-left:80% ;
}
.deletebtn{
    background-color:darkred;
   color: white;
   width: max-content;
   text-align: center;
   height: fit-content;
   padding: 4px;
}
.deletebtn:hover{
    cursor: pointer;
}